<div id="grad1">
  <style>
    #grad1 {
    height: 100%!important;
    width: 100%!important;
    background-color: #F4B4BB; /* For browsers that do not support gradients */
    background-image: linear-gradient(#F4B4BB, #FFDEAA); /* Standard syntax (must be last) */
    }
  </style>
  <div class="heading">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <button href="/days/new" type="button" class="btn btn-outline-secondary btn-lg">+</button>
  </div>
</div>
