body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.heading {
  text-align: center;
  padding: 25em;
}

/* Index page */
.typer, .title {
  color: white!important;
  font-weight: bold!important;
}

.tagline {
  font-size: 1.5em;
}

.parallax {
  background-color: #F4B4BB; /* For browsers that do not support gradients */
  background-image: linear-gradient(#F4B4BB, #FFDEAA); /* Standard syntax (must be last) */
  min-height: 650px;
  width: 100vw;
  margin-top: -2em;
  margin-bottom: 2em;
  margin-left: calc(-50vw + 50% - 8px);
  position: relative;
  color: white;
}
