body {
  font: 14px "HelveticaNeue-Light", "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  font-family: "HelveticaNeue-Light";
}

.navbar {
  font-family: "HelveticaNeue-Light";
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.heading {
  text-align: center;
  margin: 25em;
}

.some-margin {
  margin: 50px;
}

.calendar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.calendar .item {
  float: left;
  flex: 1 1 calc(14.2857143%);
  text-align: center;
  margin-bottom: 15px;
}

.item {
  font-size: 20px;
}

.calendar .item a {
  font-size: 15px;
  color: black;
}

.calendar .item img {
  height: 150px;
  width: 150px;
}

.show-more {
  display: inline-block;
}

/* Nav Bar */

.username {
  margin-right: 1em;
}

.username:hover {
  color: grey;
  text-decoration: none;
  font-style: italic;
}

/* Index page */
.typer, .title {
  color: white!important;
}

.tagline {
  font-size: 1.5em;
  padding: 12em 0 0;
}

.parallax {
  background-color: #F4B4BB; /* For browsers that do not support gradients */
  background-image: linear-gradient(#F4B4BB, #FFDEAA); /* Standard syntax (must be last) */
  min-height: 700px;
  width: 100vw;
  margin-top: -2em;
  margin-bottom: 2em;
  margin-left: calc(-50vw + 50% - 8px);
  position: relative;
  color: white;
}

.navbar {
  margin:-5px!important;
  padding-bottom: 0px!important;
}

.btn-outline {
  border-color: grey;
}
